<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Clases en linea</title>
  </head>  
  <body>
    <header>
      <div class="container">
        <p class="logo"><a href="../index.html" class="titulo">Clases en linea</a></p>
        <a href="../index.html"><img src="iconos/ordenador-portatil.png" alt="laptop" class="icono"></a>
        <nav>
          <a href="../index.html#somos-proya">Quienes somos</a>
          <a href="../index.html#nuestros-programas">Nuestros Programas</a>
          <a href="../index.html#caracteristicas">Caracteristicas</a>
          <a href="registro.html">Registro</a>
          <a href="login.html">Entrar</a>
        </nav>
      </div>
    </header>
    <div class="ingreso">
      <div class="ingreso__text">
        <h2>Ingresá tu e‑mail o usuario de Clases online</h2><hr>
        <br>
        <a href="#" target="_blank"><h6>Reportar un problema</h6></a>
      </div>
        
        <div class="ingreso__user">
          <p>E‑mail o usuario</p>
          <div class="ingreso__user-datos">
            <form action="#">
             <label label for="usuario"></label>
             <input type="text" id="usuario" name="usuario">
            </div>
            <div class="buttons">
             <div class="botones">
              <a href="#"><input type="button" name="registro" id="registro" value="Continuar"></a>
            </div>
              <div class="boton__crear-cuenta">
              <a href="registro.html"><input type="button" name="registro" id="registro" value="Crear cuenta" "></a>
            </div>
          </div>
          </div>
            
          </div>
        </div>
            </form>
        </div>
        
    </div>
    <footer>
      <div class="icon__text">
      <div class="icon__social">
        <a href="https://www.instagram.com/" target="_blank"><img src="../template/iconos/instagram.png" alt="instagram"></a>
        <a href="https://www.facebook.com/" target="_blank"><img src="../template/iconos/facebook.png" alt="facebook"></a>
        <a href="https://web.whatsapp.com/" target="_blank"><img src="../template/iconos/whatsapp.png" alt="whatsapp"></a>
      </div>
        <div class="container">
            <p>&copy; Codo a Codo 2023</p>
        </div>
      </div>
        </footer>
    </body>
    </html>