*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    text-decoration: none;
} 

html{ 
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
} 

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
    cursor: pointer;
}

button:hover{
    background-color: rgb(101, 33, 165);
}

.button__aplica{
    display: none;
}

.button__registro{
    
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;

}

.button__anotateYa{
    margin-top: 50px;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:blueviolet; }

header{
    background-color: rgb(245,245,245);

}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}

.icono{
    display: none;
}

.titulo {
    color: blueviolet;
}

.titulo:hover{
    color: rgb(0, 0, 0);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    
}

#hero h1{
    color: white;
}

#hero button{
    font-size: 1.75em;
}

#somos-proya .container{
    text-align: center;
    padding: 200px 12px;
    
}

#nuestros-programas{
    background-color: rgb(30,30,30);
    color: white;
    text-align: center;
}

#nuestros-programas .container{
    padding: 150px 12px;
}

#nuestros-programas h2{
    margin-top: 0;
    font-size: 3.2em;
}

#nuestros-programas p{
    display: none;
}

#nuestros-programas .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/nuevo-chica-estudiando.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/retrato-nina-prestando-atencion-clase-linea.jpg");
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");

}

.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");

}

.carta:nth-child(5){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");

}

.carta:nth-child(6){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");

}

#caracteristicas .container{
    text-align: center;
    padding: 200px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;

}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#final h2{
    font-size: 9vw;
}

#final button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
    
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1vh 12vw ;
    /* border: #706c6c solid; */
    /* border-radius: 2rem; */
    
}

.formulario ::placeholder{
    font-size: 1rem;
    color: #706c6c; 
}

.formulario input{
    border: none;
    outline: none;
    text-align: center;
    border-bottom: .2rem solid #706c6c;
}

.ingreso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.ingreso__text{
    font-size: 1.9vw;
    padding: 0px 70px;
    
}
.ingreso__user p{
    opacity: 0.6;
    font-size: 15px;
}

.ingreso__user{
    margin-top: 30px;
}

.ingreso__user-buton{
    margin-top: 4vh;
    padding: 1.6vh 24.3vw;
}

.ingreso__user input{
    
    display: flex;
    flex-direction: column;
    padding: .6rem 7rem;
    border-radius: 5px;
}


.boton__crear-cuenta{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    
    
    
}

.boton__crear-cuenta input{
    border: none;
    margin-bottom: 30px;
    background-color: white;
    cursor: pointer;
    transition: .5s;
    
}

.boton__crear-cuenta input:hover{
    opacity: .6;
}

.ingreso__text h6{
    font-size: 15px;
    color: blueviolet;
}

.botones input{
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    transition: 300ms;
    cursor: pointer;
    padding: .6rem 10.10rem;
    margin-top: 20px;
}

.botones input:hover{
    background-color: rgb(158, 86, 226);
}

@media (min-width: 720px){

    body{
        display: grid;
        min-height: 100vh;
        grid-template-rows: auto 1fr auto;
    }

    .icono{
        width: 50px;
        margin-left: -90px;
        display: block;
    }

    .ingreso{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
    }
    .ingreso__text h6{
        /* font-size: 15px; */
        color: blueviolet;
    }

    .ingreso__text h2{
        font-size: 2.5rem;
        color: rgb(35, 35, 35);
    }
    
    
    .ingreso__user{
        border: 1px solid rgba(0, 0, 0, .1);
        border-radius: 7px;
        margin-right: 50px;
        padding: 80px 60px;
        
        margin-right: 200px;
        
    }

    .ingreso__user input{
    
        display: flex;
        flex-direction: column;
        padding: 1.6vh 7.3vw;
        border-radius: 5px;
        
        margin-bottom: 20px;
        
    }
    .buttons {
        
        display: flex;
        text-align: center;
        justify-content: flex-start;
        gap: 20px;
       

    }
    
    .button__aplica{
        display: block;
        cursor: pointer;
    }

    .button__aplica a{

        color: white;
    }

    .button__anotateYa{
        margin-top: 50px;
    }


    .buttons input{
        padding: 1.6vh 2.5vw;
        
    }
    .buttons a{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .botones input{
        
        padding: 1.6vh 2.5vw;
    }

    .boton__crear-cuenta input{
        
        background-color: none;
        border: none;
        padding: 1.6vh 2.5vw;
    }

    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: #706c6c solid;
        margin: 0px 480px 0px 480px;
        border-radius: 2rem;
        
    }
    header{
        position: relative;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }       
        

    #hero h1{
        font-size: 5em;
    }

    #somos-proya .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-proya .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-proya h2{
        margin-top: 0px;
    }

    #somos-proya .img-container{
        background-image: url("template/img/retrato-nina-prestando-atencion-clase-linea.jpg");
        background-size: cover;
        background-position: center center;
        border-radius: 10px;
        height: 500px;
        width: 400px; 

    }

    
    #nuestros-programas .programas{
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: auto auto auto;
        
    }

    #nuestros-programas p{
        display: block;
        margin-bottom: 30px;
    }

    #nuestros-programas h2{
        font-size: 4em;
    }

    #nuestros-programas h3{
        margin-top: 0;
    }

    #nuestros-programas .carta{
        padding: 50px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("template/img/aula-virtual-espacio-estudio.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("template/img/chica-vista-frontal-tableta-auriculares.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("template/img/nuevo-chica-estudiando.jpg");

    }

    #caracteristicas{
        background-image: url("template/img/nina-portatil-mesa.jpg");
        background-repeat: no-repeat;
        background-size: 500px 500px;
        background-position: calc(100vw - 600px) 120px;
        border-radius: 10px;


    }

    #caracteristicas .container{
        text-align: initial;
    }

    #caracteristicas ul{
        margin-left: 100px;
        font-weight: bold;
        padding:  50px;
        
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        display: flex;
    }
}

@media (min-width: 900px){
    .icono{
        width: 50px;
        margin-left: -50px;
        display: block;
    }
}

footer .container{
    display: flex;
    margin-right: 10px;
}
footer .icon__text {
    display: flex;
    text-align: center;
    justify-content: space-around;
}

footer .icon__social {
    gap: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    margin-left: 20px;
   
}
footer .icon__social img{
    width: 5vw;
}
footer .icon__text{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
@media (min-width: 1200px) {
    #caracteristicas{
        background-position: 700px 120px;
    }

    .icono{
        width: 50px;
        margin-right: 350px;
        display: block;
    }    

    footer .container{
        display: flex;
        margin-right: 10px;
    }
    footer .icon__text {
        display: flex;
        text-align: center;
        justify-content: space-around;
    }

    footer .icon__social {
        gap: 20px;
        display: flex;
        text-align: center;
        align-items: center;
        margin-left: 20px;
       
    }
    footer .icon__social img{
        width: 50px;
    }
    footer .icon__text{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    
}
